<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch-Points</title>
  </head>
  <body>
    <h1>Fetch-Points</h1>
    <br /><br />
    <form action="/add" method="POST">
      Payer: <input type="text" name="payer" /><br /><br />
      Points: <input type="number" name="points" /><br /><br />
      Date: <input type="date" name="date" /><br /><br />
      <input type="submit" name="" value="Add Transaction" />
    </form>
    <br /><br />

    <form action="/spend" method="POST">
      Points: <input type="number" name="points" /><br /><br />
      <input
        style="font-size: 40px"
        type="submit"
        name=""
        value="Spend Points"
      />
    </form>
    <br /><br />

    <form action="/balance">
      <input type="submit" value="View Balance" />
    </form>
    <br /><br />
    <form action="/transactions">
      <input type="submit" value="View All Transactions" />
    </form>
    <br /><br />
  </body>
</html>
