<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch-Points</title>
  </head>

  <body>
    <h1>Fetch-Points</h1>

    <% if (userTransactions.length > 0) { %>

    <h2>Here Are Your Transactions!</h2>

    <%for (let i = 0; i < userTransactions.length; i++){ %>
    <%=JSON.stringify(userTransactions[i])%>
    <br />
    <%}%> <% } else { %>

    <h2>Sorry, you have no balance</h2>
    <% } %>

    <br /><br /><br />
    <form action="/">
      <input type="submit" value="Back to Home" />
    </form>
  </body>
</html>
